@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Do you really have a good sense of humor?..Sure???..HAHAHA..Then try this!!</p>
</div>
